body{
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

}

.main,
.header,
.aside,
.footer{
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    min-height: 15em;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.header,
.footer{
  flex-basis:  100%;
  min-height: 5em;
}

.main{
    flex: 2 1 30rem;
}
.aside{
    flex: 1 1 13rem;

}


